body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: #333;
  background-color: #dddcd4;
}

header {
  background-color: #EE5E4E;
}

button {
  border: none
}

nav {
  padding: 1rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a:hover {
  color: #fff;
}

a {
  text-decoration: none;
  color: #333;
}

input {
  border: none;
  background-color: transparent;

}

nav form {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  padding: .5rem;
  display: flex;
  align-items: center;
}

nav form input {
  border-radius: 8px;
}

input:focus {
  outline: none;
}

.navbar-sign-in-up {
  display: flex;
  gap: 1.5rem;
}

.sign-up {
  position: relative;
  padding: 2.5rem;
}

.sign-up h1 {
  text-align: center;
  font-weight: 600;
}

.sign-up p {
  text-align: center;
}

.sign-up form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.sign-up form input {
  background-color: #fff;
  width: 280px;
  padding: 0 10px;
  height: 30px;
  border-radius: 6px;
}

.sign-up form button {
  width: 300px;
  height: 30px;
  border-radius: 6px;
  cursor: pointer;
}

.sign-up-sign-up-button {
  border: 2px solid #5745A0;
  background-color: rgba(87, 69, 160, 0.6);
  color: #fff;
}

.sign-up-sign-up-button:hover {
  box-shadow: 0 0 5px rgba(87, 69, 160, 1);
  text-shadow: 0 0 5px rgba(87, 69, 160, 1);
  color: #5745A0;
  background-color: rgba(87, 69, 160, 0.2);
  transition: all 0.3s ease 0s;
}

.sign-up p a {
  color: #1d4ed8;
  text-decoration: underline;
}

.signup-alert {
  position: absolute;
  padding: 20px;
  min-width: 600px;
  color: rgb(0, 0, 0);
  margin-bottom: 15px;
  text-align: center;
  border-radius: 6px;
  left: 50%;
  transform: translateX(-50%);
  top: 1%;
}

.signup-error {
  background-color: rgba(244, 67, 54, 0.3);
  border: 2px solid #f44336;
}
.signup-succes{
  background-color: rgba(46,184,134,0.4);
  border: 2px solid #2EB886;
}
.sign-out{
  color: #333;
}
.sign-out:hover{
  color: #fff;
  cursor: pointer;
}
.create{
  padding: 1rem 2.5rem;
}
.create h1{
  text-align: center;
  margin-top: 4rem;
  font-weight: 800;
}
.create form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem
}
.create input{
  background-color: #fff;
  width: 280px;
  padding: 0 10px;
  height: 30px;
  border-radius: 6px;
}
textarea{
  border-radius: 8px;
  border:none;
  width: 300px;
  height: 60px;
  font-family: "Open Sans", sans-serif;
  color: #333;
}
textarea:focus{
  outline: none;
}
.create-rooms input{
  width: 15px;
}
.create-rooms{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.create-rooms-and-price{
  display: flex;
  gap: 2rem;
}
.create-rooms-price{
  max-width: 100px;
}
#images{
  background-color: transparent;
  border: 1px solid #333;
  align-items: center;
  justify-content: center;
}
.error{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}
.error-contanier{
  max-width: 500px;
  text-align: center;
}
.error-contanier p{
 margin-bottom: 2rem;
}
.error-contanier a ,.profile-create-button{
  padding: 15px 30px;
  cursor: pointer;
  background-color: #EE5E4E;
  color: #FFF;
  border-radius: 8px;
  font-size: 18px;
}
.profile-create-button{
  padding: 10px 20px;
  border-radius: 6px;
}
.error-contanier a:hover,.profile-create-button:hover{
  background-color: #f44336;
}
.profile{
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.listing{
  display: flex;
  border: 1px solid #555;
  width: 700px;
  height: 230px;
  border-radius: 12px;
  margin-top: 2rem;
  gap: 1rem;
  background-color: rgba(255 , 255, 255, 0.3)
}
.listing img{
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  width: 300px;
  height: 230px;
}
.lisitig-datas-type{
  color: #707070;
  font-weight: lighter;
  font-size: 14px;
}
.lisitig-datas-price{
  color: #333;
  font-weight: lighter;
  font-size: 20px;
}
.lisitig-datas-name{
  color: #333;
  font-weight: lighter;
  font-size: 16px;
}
.lisitig-datas-adress{
  color: #707070;
  font-weight: lighter;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.lisitig-datas-b{
  color: #333;
  font-weight: lighter;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 15px;
}